<% provide(:title, '| Help') %>
<h1>Help</h1>
<ol>
	<li>Your site is awesome... but free... How can I contribute?</li>
		<p>Excellent question! We appreciate all forms of money* here
		at BeerOn. Or if you'd like to tell us how we can improve our
		site, shoot us an e-mail at:&nbsp;<a href='#'>BeerOn2012@gmail.com</a>.
		</p>
	<li>Why is BeerOn only located in Chicago?</li>
		<p>BeerOn is a new company, and we wanted to create the 
		beer app in a city where we were familiar with the beer. 
		Also, we may have wanted to use the app when testing was
		finished...
		</p>
</ol>
<p>*Excluding Monopoly. Please see <a href='#'>Terms and Conditions</a> for details.</p>
