<% provide(:title, '') %>
<div class='center hero-unit'>	
	<h1>BeerOn</h1>
	<h2>
		Come in. Have a beer.
	</h2>
	<%= link_to 'Sign Up for BeerOn', signup_path, class: 'btn btn-large btn-primary' %>
</div>
