<% provide(:title, '| Sign Up') %>
<div class='center hero-unit'>
	<h1>Sign Up</h1>
	<h2>
		Keep track of your favorite beers.<br/>
		Get personalized recommendations.<br/>
		Share your beer-ing experience with friends.
	<h2>
</div>