<footer class='footer'>
	<small>
		BeerOn by&nbsp;<a href='http://emilyellison986.github.com'>Emily Ellison</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to 'About',		about_path %></li>
		</ul>
	</nav>
</footer>		